.search-input{
  margin: 10px;
  width: 200px;
}
.suggestion-list{
  position: absolute;
  top:32px;
  left:10px;
  height: 300px;
  width:206px;
  border:solid 1px #999;
  overflow: auto;
  background-color: #fff;
  z-index: 999;
}
.row:hover{
  background-color: #e5e5e5;
  cursor: pointer;
}
.report-section{
  margin: 10px;
}
.main-container{
  position: relative;
}